html, body {height: 100%;}

.wrapper {overflow: hidden;
    min-height: 100%;
    min-width: 1100px;
    display: flex;
    flex-direction: column;}
    
.wrapper_content {flex: 1}

.header {display: flex;
    background: #4b73b5;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 20px;
}
.number {display: flex;
    flex-flow: column;
    padding-right: 20px;
    }
#contacts_phone {font: bold 18pt roboto;
    color: #ffffff;
}
#grafik {font: bold 10pt roboto;
    color: #c9d5e9;
    text-align: right;
}
.container {align-content: center;
}

.main {display: flex;
flex-flow: row;
}
ul {font: 12pt/15pt arial;
    list-style: none;}

.maincontent {margin-right: 100px;}

.breadcrumbs_item {display: flex;
    flex-flow: row;}

.breadcrumbs_link {margin-left: 10px;
        }

.block_people {display: flex;
        flex-flow: row wrap;
        
    
    }

.block {display: flex;
    flex-flow: column;
    flex: 1 1 400px;
    margin-bottom: 30px;
    justify-content: center;
    width: 30%;}
    

.picture {display: flex;
    justify-content: center;
}

.name {display: flex;
    font: bold 14pt roboto;
    justify-content: center;
}   
.profess {display: flex;
    font: bold 12pt roboto;
    color: #4b73b5;
    justify-content: center;
    }

.text {display: flex;
    justify-content: center;
}

.footer {background: #4b73b5;
    }
    
.container_down {display: flex;
    justify-content: space-between;}
    
    .logo_down {display: flex;
    justify-content: center;
    align-items: center;}
    
    .author {display: flex;
    flex-flow: column;}