html, body {height: 100%;}

.wrapper {overflow: hidden;
    min-height: 100%;
    min-width: 1100px;
    display: flex;
    flex-direction: column;}
    
.wrapper_content {flex: 1}

.header {display: flex;
    background: #4b73b5;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 20px;
}
.number {display: flex;
    flex-flow: column;
    padding-right: 20px;
    }
#contacts_phone {font: bold 18pt roboto;
    color: #ffffff;
}
.grafik {position: relative;
}
.grafik_link {font: bold 10pt roboto;
    color: #c9d5e9;
    text-align: right;}

.grafik_menu {position: absolute;
    background: #ffffff;
    border: 1px solid snow;
    padding: 10px;
    width: 165px;
    top: 100%;
    display: none;
}

.main {display: flex;
    flex-flow: row;
}
.main_container {display: flex;
flex-flow: row;}

.leftside {display: flex;
flex-flow: column;
width: 25%;
margin: 20px 20px 30px 25px;
padding: 30px;
}

.partners {display: flex;
    border: 1px solid #e8e9ed;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

.partner {display: flex;
    margin-bottom: 35px;
    margin-top: 35px;}

.social {display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
#soc_text {font: bold 10pt roboto;
    }
.soc_picture {display: flex;
        flex-flow: row;
        justify-content: space-around;
        align-items: center;
    }
.soc_pic {display: flex;
        margin: 10px;
    }

.content {display: flex;
        flex-flow: column;
        width: 75%;
        margin: 20px 15px;
    }
.breadcrumbs {display: flex;
        flex-flow: row nowrap;
    }
.breadcrumbs_item {display: flex;
                flex-flow: row;
                width: 20%;
                font: bold 14pt roboto;
                text-decoration: none;
        }
    
.breadcrumbs_link {margin-left: 15px;
                    }


.block_people {display: flex;
        flex-flow: row wrap;
        width: 100%;    
    }

.block {display: flex;
    flex-flow: column;
    margin: 20px 15px;
    justify-content: center;
    width: 30%;}
    
.picture {display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
}

.name {display: flex;
    font: bold 14pt roboto;
    justify-content: center;
}   
.profess {display: flex;
    font: bold 10pt roboto;
    color: #4b73b5;
    justify-content: center;
    }

.text {display: flex;
    justify-content: center;
    text-align: center;
}

.footer {background: #4b73b5;
}
.container_down {display: flex;
justify-content: space-between;
padding-left: 20px;
padding-right: 20px;
}
.logo_down {display: flex;
justify-content: center;
align-items: center;}

.author {width: 270px;
font: 12pt roboto;
color: #9fb4d8;
}
#loftsch {font: bold}
