html, body {height: 100%;}

.wrapper {overflow: hidden;
    min-height: 100%;
    min-width: 1100px;
    display: flex;
    flex-direction: column;}
    
.wrapper_content {flex: 1}

.header {background: #4b73b5;
    top: -20px;
}
.logo {
position: absolute;
top: 20px;
left: 14px;
}
.number {text-align: right;
}
.container {align-content: center;
}

.main {display: flex;
flex-flow: row;
}
ul {font: 12pt/15pt arial;
    list-style: none;}

.maincontent {margin-right: 100px;}

.breadcrumbs_item {display: flex;
    flex-flow: row;}

.breadcrumbs_link {margin-left: 10px;
        }

.block {display:  flex;
        flex-flow: column;}

.feedback {display: flex;
    flex-flow: row;
    margin-bottom: 20px;}

.feed_self {display: flex;
        flex: 1;
        flex-flow: column;
        margin-bottom: 30px;}

.date {font: #f5f5f5;
    font: 10pt roboto;
}
.name {font: bold 12pt roboto;}

.text {display: flex;
    flex-flow: start;}

.picture {margin-right: 20px}

.container_down {display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.green {display: flex;
    flex-direction: column;
    text-align: center;
    background:#4bb56b;
    flex: 0 0 7em;
}
.feedback_text {display: flex;
    justify-content: center;
    }
    
.container_forma {display: flex;
    background: #f5f5f5;
    justify-content: center;
    flex-flow: column;
    justify-content: center;
}

#form_head {display: flex;
    align-content: center;
    font: bold 24pt roboto;}

.forma {display: flex;
    flex-flow: row wrap;}

.footer {background: #4b73b5;
}
.container_down {display: flex;
justify-content: space-between;}

.logo_down {display: flex;
justify-content: center;
align-items: center;}

.author {display: flex;
flex-flow: column;}

.social {display: flex;
    flex: row;
    flex: end;}